body {
  font-family: 'Lato', 'sans-serif';
  width: 300px;
  background-color: #90EE90;
}

.container {
  height: 400px;

}

#baskets,
#friends {
  margin-top: 0;
  width: 50%;
  float: left;
  font-size: 24px;
  /*max-height: 1000px;*/
  /*overflow: scroll;*/
}

.basket-click {
  background-color: white;
  text-align: center;
  height: 24px;
  margin: 2.5px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.basket-click:hover {
  background-color: #119805;
}

.basket-click a {
  text-decoration: none;
}

.basket-click a:hover {
  color: red;
  text-decoration: none;
}